{{> header }}
<div class="jumbotron">
    <div class="container" style="padding-right: 155px">
        <h1>Welcome to Mimo</h1>

        <p>Mimo is a API or HTTP Mocking system with advanced ability to use JavaScript to write your own
            responses including headers, body and formatting. Read the docs for all the functions.</p>
        <br/>
        <p><a class="btn btn-info btn-lg pull-right" role="button"  href="/docs">Read The
            Docs &raquo;</a></p>

        <p><a class="btn btn-primary btn-lg" role="button" href="/signup">Get Started &raquo;</a></p>
    </div>
</div>
{{> footer }}
